#crm-container .crm-button_qf_ContributionView_submit_issue_tax_receipt {
  display: block;
  padding: 2px 4px;
}

#crm-container #_qf_ContributionView_submit_issue_tax_receipt-top {
  background: url("mapleleaf_white.png") no-repeat 2px 100%;
  min-height: 18px;
  padding: 0px 6px;
  text-indent: 16px;
}

#crm-container #_qf_ContributionView_submit_issue_tax_receipt-bottom {
  background: url("mapleleaf_white.png") no-repeat 2px 100%;
  min-height: 18px;
  padding: 0px 6px;
  text-indent: 16px;
}

#crm-container .crm-button_qf_ContributionView_submit_view_tax_receipt {
  display: block;
  padding: 2px 4px;
}

#crm-container #_qf_ContributionView_submit_view_tax_receipt-top {
  background: url("mapleleaf_red.png") no-repeat 2px 100%;
  min-height: 18px;
  padding: 0px 6px;
  text-indent: 16px;
}

#crm-container #_qf_ContributionView_submit_view_tax_receipt-bottom {
  background: url("mapleleaf_red.png") no-repeat 2px 100%;
  min-height: 18px;
  padding: 0px 6px;
  text-indent: 16px;
}
